In [1]:
import yfinance as yf
import numpy as np
import pandas as pd

In [2]:
# Define the stock symbols
stocks = ['AAPL', 'MSFT', 'AMZN', 'GOOGL', 'META']

In [3]:
# Download historical data for the past year
data = yf.download(stocks, start='2023-01-01', end='2023-12-31')['Adj Close']

[*********************100%%**********************]  5 of 5 completed

In [4]:
data

Ticker            AAPL        AMZN       GOOGL        META        MSFT
Date
2023-01-03  124.048050   85.820000   89.120003  124.607788  236.609222
2023-01-04  125.327507   85.139999   88.080002  127.235008  226.259186
2023-01-05  123.998459   83.120003   86.199997  126.805458  219.553360
2023-01-06  128.560852   86.080002   87.339996  129.882202  222.140854
2023-01-09  129.086563   87.360001   88.019997  129.332779  224.303711
...                ...         ...         ...         ...         ...
2023-12-22  193.091385  153.419998  141.490005  353.015472  373.215424
2023-12-26  192.542831  153.410004  141.520004  354.453918  373.295135
2023-12-27  192.642548  153.339996  140.369995  357.450714  372.707275
2023-12-28  193.071426  153.380005  140.229996  357.940216  373.912842
2023-12-29  192.024185  151.940002  139.690002  353.584839  374.670074

[250 rows x 5 columns]

In [5]:
# Calculate daily returns
daily_returns = data.pct_change().dropna()

In [7]:
daily_returns

Ticker          AAPL      AMZN     GOOGL      META      MSFT
Date
2023-01-04  0.010314 -0.007924 -0.011670  0.021084 -0.043743
2023-01-05 -0.010605 -0.023726 -0.021344 -0.003376 -0.029638
2023-01-06  0.036794  0.035611  0.013225  0.024263  0.011785
2023-01-09  0.004089  0.014870  0.007786 -0.004230  0.009736
2023-01-10  0.004456  0.028732  0.004544  0.027188  0.007617
...              ...       ...       ...       ...       ...
2023-12-22 -0.005547 -0.002730  0.007620 -0.001977  0.002784
2023-12-26 -0.002841 -0.000065  0.000212  0.004075  0.000214
2023-12-27  0.000518 -0.000456 -0.008126  0.008455 -0.001575
2023-12-28  0.002226  0.000261 -0.000997  0.001369  0.003235
2023-12-29 -0.005424 -0.009388 -0.003851 -0.012168  0.002025

[249 rows x 5 columns]

In [6]:
# Calculate daily volatility (standard deviation of daily returns)
daily_volatility = daily_returns.std()

In [8]:
daily_volatility

Ticker
AAPL     0.012570
AMZN     0.020805
GOOGL    0.019149
META     0.025090
MSFT     0.015824
dtype: float64

In [10]:
# Annualize the daily volatility
trading_days_per_year = 252
annualized_volatility = daily_volatility * np.sqrt(trading_days_per_year)

In [11]:
annualized_volatility

Ticker
AAPL     0.199543
AMZN     0.330267
GOOGL    0.303982
META     0.398289
MSFT     0.251204
dtype: float64

In [12]:
# Display the results
volatility_df = pd.DataFrame({
    'Daily Volatility': daily_volatility,
    'Annualized Volatility': annualized_volatility
})

volatility_df

        Daily Volatility  Annualized Volatility
Ticker
AAPL            0.012570               0.199543
AMZN            0.020805               0.330267
GOOGL           0.019149               0.303982
META            0.025090               0.398289
MSFT            0.015824               0.251204